$StyleFont: 'Pacifico', cursive;
$MainFont: 'Montserrat', sans-serif;
$SecondaryFont: 'Open Sans', sans-serif;

.decor-page {
  .button-region {
    display: flex;
    justify-content: center;
    button {
      background-color: #24445c;
      border-color: #24445c;
      margin-bottom: 2rem;
      font-family: $MainFont;
    }
  }
  h2 {
    text-align: center;
    padding-bottom: 2rem;
    padding-top: 2rem;
    color: lightgray;
    font-family: $StyleFont;
  }
  h4 {
    text-decoration: underline;
    margin-left: 2rem;
    text-align: left;
    padding-bottom: 2rem;
    padding-top: 2rem;
    color: lightgray;
    font-family: $StyleFont;
  }
  .card-area {
    display: flex;
    justify-content: space-evenly !important;
  }
  .card {
    width: 20rem;
    height: auto;
    background-color: rgba(116, 160, 100, 0.8);
    color: lightgray;
    border-color: darkgreen;
    text-align: left;
    font-family: $SecondaryFont;
    img {
      width: 100%;
      height: 15rem;
      object-fit: cover;
    }
    .card-btns {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family: $MainFont;
      margin-top: 2rem;
    }
    #notes {
      background-color: gray;
      padding-bottom: 4rem;
      padding-left: .25rem;
      text-align: justify;
      border: .5px solid black;
      box-shadow: 3px 6px black;
      
    }
  }
  #decor-area {
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  #fish-area {
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
