.display-area {
    h1 {
      text-align: center;
      padding-bottom: 2rem;
      padding-top: 2rem;
      width: 100%;
      background-color: rgba(255,255,255, 0.6);
    }
    .Auth {
      display: flex;
      justify-content: center;
    }
  }
  