.navbar {
  color: white;
  font-size: 1.5rem;
  margin-bottom: 2rem;

  a {
    margin-right: 2rem;
    color: white;
  }

  img {
    margin-top: 1rem;
    border-radius: 60%;
    height: 4rem;
  }

  .dropdown-menu {
    opacity: 0.8;
    background-color: #74a064;
    align-content: center;
    .dropdown-item {
      color: lightgray;
      font-weight: bold;
      font-size: 1.5 rem;
    }
    .dropdown-item:hover {
      background-color: #74a064;
    }
    .btn {
      background-color:  #226406;
      border-color:  white;
    }
  }
}
