@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import '~bootstrap/dist/css/bootstrap.min.css';
@import 'variables';
@import 'navbar';
@import 'home';
@import 'tanks';
@import 'auth';
@import 'singleView';
@import "fish";
@import 'decorations';
@import 'pub';

.spinner-border {
  color: white;
}

.modal {
  background-color: rgba(0, 0, 0, 0.4);
  .modal-header  {
    background-color: rgba(116, 160, 100, 0.9);
  }
  .modal-body {
    background-color: rgba(116, 160, 100, 0.6);
  }
}